.techfont{
  font-family: 'Russo One', sans-serif;
  font-size: 1.5em

}

.bigbrand{
  font-size : 1.5em

}
.medium-editor-textarea{
  min-height: 150px;
  overflow-y: scroll;
}
.center-post{
  margin : auto;
}

.postdte{
  text-align:center;
}

.posttitle{
  font-family:'Russo One', sans-serif;
  font-size: 3em;
  text-align: center;
}
.postcontent{
  font-family: 'Montserrat' ;
  font-size: 1em;
  line-height: 2.5em
}
.btn-comment, .comment-date{
  position: absolute;
  right: 0px;
}

.stripedA{

}

.stripedB{
  background-color: #e9ecef;
  color: #fff;
}

.active .list-group-item-action{
  color: #fff;
}

#sidebar{
  border-left: 3px solid #f2f2f2;
  padding-left: 10px
}

#side_posts{
  text--
}
