{% extends "base.html" %}
{% block content %}

{% if tag %}
    <h2>Posts tagged with: "<strong>{{ tag }}</strong>" </h2>
{% endif %}


  {% for post in posts %}
  {# <div class="card-deck"> #}

    <div class="center-post card mb-3">
      {% if post.image %}
      <img class="card-image-top post-img" src="{{ post.image_thumbnail.url }}" alt="Post image">
      {% endif %}
      <div class="card-body">

        <h2 class="card-title"><a href="{{ post.get_absolute_url }}" class="card-link"> {{ post }}</a></h2>
        {% if perms.blog.change_post %}
        <a href="{% url 'blog:edit' post.pk %}"><i class="fas fa-pencil-alt fa-lg"></i></a>
        {% endif %}
        {% if perms.blog.delete_post %}
        <a href="{% url 'blog:delete' post.pk %}"><i class="far fa-trash-alt fa-lg"></i></a>
        {% endif %}

        <div class="date card-subtitle mb-2 text-muted">
          <p>Published on: {{ post.published_date|date:"D M Y" }}</p>
        </div>
        <div class="excerpts card-text">
          {{ post.body|safe|truncatewords_html:30 }}
        </div>
        <div class="comments card-footer text-muted">
          <a href="{{ post.get_absolute_url }}">Comments: {% if post.approve_comments.count %}{{ post.approve_comments.count }}{% else %} 0{% endif %}</a>
        </div>
      </div>
    </div>
  {# </div> #}
  {% endfor %}




{% include "_pagination.html" with items=posts %}

{% endblock %}
